%color1 {
	 background: #1F77B4; // Blue
}
%color2 {
	 background: #AEC7EB; // Light Blue
}
%color3 {
	 background: #FF7F0E; // Orange
}
%color4 {
	 background: #FFBB78; // Light Orange
}
%color5 {
	 background: #2CA02C; // Green
}
%color6 {
	 background: #98DF8A; // Light Green
}
%color7 {
	 background: #D62728; // Red
}
%color8 {
	 background: #FF9896; // Light Red
}
%color9 {
	 background: #9467BD; // Purple
}
%color10 {
	 background: #C5B0D5; // Light Purple
}
%color11 {
	 background: #8C564B; // Brown
}
%color12 {
	 background: #C49C94; // Light Brown
}
%color13 {
	 background: #E777C2; // Pink
}
%color14 {
	 background: #F7B6D2; // Light Pink
}
%color15 {
	 background: #7F7F7F; // Gray
}
%color16 {
	 background: #C7C7C7; // Light Gray
}
%color17 {
	 background: #BCBD22; // Off Green
}
%color18 {
	 background: #DBDB8D; // Light Off Green
}
%color19 {
	 background: #17BECF; // Teal
}
%color20 {
	 background: #9EDAE5; // Light Teal
}

%colorblind1 {
	 background: #FDE641;
}
%colorblind2 {
	 background: #DCE238;
}
%colorblind3 {
	 background: #B8DC3E;
}
%colorblind4 {
	 background: #95D64D;
}
%colorblind5 {
	 background: #77CE5D;
}
%colorblind6 {
	 background: #59C46B;
}
%colorblind7 {
	 background: #41BA78;
}
%colorblind8 {
	 background: #30AD80;
}
%colorblind9 {
	 background: #28A286;
}
%colorblind10 {
	 background: #26968A;
}
%colorblind11 {
	 background: #28898C;
}
%colorblind12 {
	 background: #2B7D8C;
}
%colorblind13 {
	 background: #30718C;
}
%colorblind14 {
	 background: #34658C;
}
%colorblind15 {
	 background: #3B568A;
}
%colorblind16 {
	 background: #404986;
}
%colorblind17 {
	 background: #46397F;
}
%colorblind18 {
	 background: #482A76;
}
%colorblind19 {
	 background: #481A67;
}
%colorblind20 {
	 background: #441153;
}