$gray: #999;
$unit: 30px;

@for $i from 1 through 100 {
 	.units-#{$i} {
    	width: $unit * $i
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	overflow: hidden;
}

div.graph-container {
	position: relative;
	width: calc(100vw - 20px);
	height: calc(100vh - 20px);
	overflow: scroll;
	margin: 10px;
	.graph-slider {
		position: absolute;
		left: 0px;
		.graph-header {
			width: 100%;
			.title {
				display: inline-block;
				padding: 10px 0px;
				background: $gray;
				text-align: center;
				h2 {
					font-size: 18px;
				}
			}
		}	
		.graph-body {
			.track {
				.track-item {
					display: inline-block;
					background: #ccc;
					height: 100px;
					vertical-align: middle;
					border-left: 1px dashed #eee;
					&.spacer {
						background: none;
					}
					&.break {
						margin-right: -4px;
					}
				}
			}
		}
	}
}