@import 'definitions';

$gray: #999;
$unit: 30px;

@for $i from 1 through 100 {
 	.units-#{$i} {
    	width: ($unit * $i) + $i;
	}
}


@mixin set_color($num) {
	@extend %color#{$num};
}

@mixin set_color_alt($num) {
	@extend %colorblind#{$num};
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	overflow: hidden;
}

div.graph-container {
	position: relative;
	width: calc(100vw - 20px);
	height: calc(100vh - 20px);
	overflow: scroll;
	margin: 10px;
	font-family: 'Helvetica',sans-serif;
	.graph-slider {
		position: absolute;
		left: 0px;
		.graph-header {
			width: calc(100% + 12px);
			.title {
				display: inline-block;
				padding: 10px 0px;
				background: black;
				color: white;
				text-align: center;
				margin-right: 1px;
				h2 {
					font-size: 18px;
				}
			}
		}	
		.graph-body {
			.track {
				.track-item {
					display: inline-block;
					background: #ccc;
					height: 100px;
					vertical-align: middle;
					position: relative;
					text-decoration: none;
					color: white;
					transition: transform 0.5s;
					z-index: 3;
					@for $i from 1 through 20 {
						&.color-#{$i} {
							@include set_color($i);
							&.alt {
								@include set_color_alt($i);
							}
						}
					}
					&:not(.break):hover {
						transform: scale(1.02);
						z-index: 3;
						transition: transform 0.5s;
					}
					&.spacer {
						background: none;
					}
					&.break {
						margin-right: -5px;
						position: relative;
						z-index: 2;
						h3 {
							opacity: 0;
							transition: opacity 0.5s;
						}
					}
					h3 {
						position: absolute;
						text-align: center;
						top: 50%;
						left: 50%;
						transform: translate(-50%,-50%);
						text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
					}
					&.shown {
						h3 {
							transition: opacity 0.5s;
							opacity: 1; 
						}
					}
					&.rotated {
						h3 {
							transform: translate(-50%,-50%) rotate(-90deg) !important;
						}
					}
					&.vertical-center {
						h3 {
							top: 50%;
							left: 50%;
							transform: translate(-50%,-50%);
						}
					}
					&.vertical-topline {
						h3 {
							top: 0;
							left: 50%;
							transform: translate(-50%,-50%);	
						}
					}
					p {
						display: none;
					}
				}
			}
		}
	}
}